POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

EMAIL_USER=
EMAIL_PASS=

CLIENT_ORIGIN=
NODE_ENV=

JWT_SECRET=
REFRESH_TOKEN_SECRET=
ENCRYPTION_KEY=
JISTARGRAM_NAMESPACE=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=